<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean id="helloWorldBean2" class="com.f_lin.imitation.test.HelloWordBean2">
        <property name="text" value="test text"/>
    </bean>

    <bean id="helloWorldBeanTest" class="com.f_lin.imitation.test.HelloWorldBeanTest">
        <property name="name" value="Hello World!=1"></property>
        <property name="value" value="Hello World!=2"></property>
        <property name="type" value="Hello World!=3"></property>
        <property name="refTest" ref="helloWorldBean2"/>
    </bean>

    <bean id="helloWord" class="com.f_lin.imitation.test.HelloWordImpl">
        <property name="text" value="2019"/>
    </bean>


    <bean id="timeInterceptor" class="com.f_lin.imitation.aop.test.TimerInterceptor"></bean>

    <bean id="autoProxyCreator" class="com.f_lin.imitation.aop.AspectJAwareAdvisorAutoProxyCreator"></bean>

    <bean id="aspectjAspect" class="com.f_lin.imitation.aop.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="timeInterceptor"></property>
        <property name="expression" value="execution(* com.f_lin.imitation.test.HelloWord.*(..))"></property>
    </bean>
</beans>